<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         metadata-complete="true">

  <servlet>
    <servlet-name>downloadFile</servlet-name>
    <servlet-class>org.syh.servlet.FileServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>downloadFile</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>image</servlet-name>
    <servlet-class>org.syh.servlet.ImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>image</servlet-name>
    <url-pattern>/image</url-pattern>
  </servlet-mapping>
</web-app>